.popup{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.514);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupContainer{
    width: 1140px;
    height: 70vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
}