.system_row {
  width: 100%;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

.system_cell {
  padding: 7px 12px;
  margin: 7px 12px;
  background: white;

  border-radius: 15px;
}

.system_out_wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.system_wrapper {
  width: 1140px;
}

@media (max-width: 1440px) {
  .system_wrapper {
    width: 1140px;
  }
}

@media (max-width: 1140px) {
  .system_wrapper {
    width: 968px;
  }
}

@media (max-width: 968px) {
  .system_wrapper {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .system_wrapper {
    width: 480px;
  }
}
