.right-bottom-one{
    position: fixed;
    margin-right: 200px;
    background-color: rgb(219, 219, 219);
    right: 0;
    bottom: 0;
}
.right-bottom-two{
    position: fixed;
    background-color: rgb(219, 219, 219);
    right: 0;
    bottom: 0;
}
.row{
    display: flex;
    flex-direction: row;
}
.popup{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.514);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupContainer{
    width: 1140px;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
}.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.yellow {
    outline: 2px solid rgb(0, 255, 0);
    outline-offset: -2px;
    transition: outline 0.3s ease;
  }
.activeUser{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(0, 214, 82, 0.527);
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

  